@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  margin-left: 12rem;
  margin-right: 12rem;
}


.container {
  margin-top: 20px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: #008080;
  font-size: 2.5rem;
  margin: 0;
}


.form-group {
  margin-bottom: 1rem;
}

.form-label {
  font-weight: bold;
  color: #4b0082;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}


.btn-primary {
  background-color: #008080;
  border-color: #008080;
  color: white;
}

.btn-primary:hover {
  background-color: #005757;
  border-color: #004d4d;
}


#event-list {
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.event {
  padding: 0.5rem 0;
  border-top: 1px solid #d4d5d6;
  border-right: 1px solid #d4d5d6;
}

.event:nth-child(odd) {
  border-left: 1px solid #d4d5d6; /* Left border for the first column */
}

.event:last-child, .event:nth-last-child(2) {
  border-bottom: 1px solid #d4d5d6;
}


.gradient-bg {
  background: linear-gradient(to right,
      #008080,
      #4b0082);
  color: #ffffff;
  padding: 20px;
}

input {
  text-align: center;
}

#city-search {
  margin: 5px;
}

.event-details {
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
}

.header-container {
  padding: 60px 20px;
  margin-bottom: 20px;
  text-align: center;
}

.header-content {
  max-width: 900px;
  margin: 0 auto;
}

.header-container h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
}

.header-container p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 10px;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 3rem;
}


.footer {
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
}

.footer p {
  margin: 10px 0;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.back-to-top {
  display: block;
  margin-bottom: 10px;
}

.city {
  min-width: 400px;
  max-width: 700px;
}

.suggestions li {
  display: grid;
  grid-template-columns: 1fr;
}

@media (max-width: 768px) {
  body {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .charts-container {
    grid-template-columns: 1fr;
  }

  #event-list {
    grid-template-columns: 1fr;
  }

  .event:last-child{
    border-bottom: 1px solid #d4d5d6;
  }
}